@page "/GridView"
@model GridView
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<component type="typeof(GridViewEditor)" render-mode="ServerPrerendered" />


@{
    ViewData["Title"] = "Grids";
    List<string> Columnes = new List<string>();
    /*void OnTableSelected(ChangeEventArgs arg)
    {
        var page = @Model.OnTableSelected(arg);
        if (page != null)
        {
            Console.WriteLine("My debug output.", page);
        }
        Console.WriteLine("My debug output.", page);
        
    }*/
    
    void OnTableSelected()
    {
        
        Console.WriteLine("My debug output.");
        
    }
}

<!-- Create a dynamic dropdown -->
<label for="cars">Choose a table:</label>

<select class="form-control" name="cars" id="cars" onchange="@OnTableSelected">
    <!-- BLAZOR: if Model.Columnes is not null -->
    @if (@Model?.Tables != null)
    {
        @foreach (var item in @Model.Tables)
        {
            <option value="@item">@item</option>
        }
    }
</select>

<!-- Create a dynamic gridview -->
<table>
    <tr>
        
        <!-- BLAZOR: if Model.Columnes is not null -->
        @if (@Model?.IsTableSelected == true)
        {
            @foreach (var column in @Model.Columnes)
            {
                <th>@column</th>
            }
        }

    </tr>

</table>


